@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oswald:wght@600&family=Poppins:wght@300&display=swap');
header
{
    background-color: #2832C2;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

header img
{
    align-items: center;
    padding: 10px;
    float: left;
    border-radius: 30px;
    width: auto;
    height: auto;
    object-fit: cover;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 10px 10px 10px;
    margin-top: 20px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}
.navigation
{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin:0 auto;
    background-color: skyblue;
}
.navigation li
{
    display: none;
}
.navigation li a
{
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;

}
.navigation li a:hover
{
    background-color: #BDE0FE;
}
.open li
{
    display: block;
    width: 100%;
}
.open li a
{
    display: block;
}

#hero 
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box
{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}
#hero-img
{
    width: 100%;
}
.button-box
{
    padding: 30px;
    grid-row: 2/3;
    grid-column: 2/3;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
}
.join
{
    background-color: skyblue;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 5px 10px;
    margin-top: 90px;
    border-radius: 5px;
}
.join:hover
{
    background-color: #EBF2FA;
}

#maincontent h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.4rem;
    margin-left: 10px;
}
#event
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#event h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;

}
#event p
{
    font-size: 1.1rem;
    margin-left: 15px;
}

#weather
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#weather h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#weather p
{
    font-size: 1.1rem;
    margin-left: 15px;
}

#member1
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#member1 h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#member1 p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#member1 a
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#member2
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#member2 h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#member2 p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#member2 a
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#member3
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#member3 h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#member3 p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#member3 a
{
    font-size: 1.1rem;
    margin-left: 15px;
}

footer
{
    margin-top: 30px;
    padding: 30px;
    background-color: #2832C2;
    color: white;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}
footer h3
{
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
}
footer img
{
    width: auto;
    height: auto;
    object-fit: cover;
}
#generalInformation img
{
    padding: 10px;
    float: left;
}
#generalInformation p
{
    text-align: left;
}
#contactInformation
{
    font-size: 1.2rem;
    text-align: center;
}
#projectInformation
{
    font-size: 1.2rem;
    border-top: 2px solid gray;
    text-align: center;
}
/*Discover Page*/

#events
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#events h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;

}
#events p
{
    font-size: 1.1rem;
    margin-left: 15px;
}

#population
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#population h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#population p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#places
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#places h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#places p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#about
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#about h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#about p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#culture, #architecture, #lastVisit
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
}
#culture h2, #architecture h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
}
#culture p, #architecture p
{
    font-size: 1.1rem;
    margin-left: 15px;
}
#lastVisit span
{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding: 10px;
}
#images
{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px; 
    border: 3px solid skyblue;
    font-family: 'Poppins', sans-serif;
    
}
#images h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2rem;
    text-align: left;
}
#images img
{
    width: 80%;
    height: auto;
    object-fit: cover;
}
/*Join page*/
form
{
    border: 3px solid skyblue;
    border-radius: 15px; 
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
form legend
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 0 .7rem;
}
form fieldset
{
    margin: 2rem 0;
    border:solid #2832C2 1px;
    padding: .7rem 2%;
}
form h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.1rem;
    text-align: center;
    border-bottom: 2px solid black;
}
form label.top
{
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
}
form label.top input, form textarea
{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: .75rem;
    width: 95%;
    max-width: 20rem;
    border: solid skyblue 1px;
    border-radius: 3px;
    background-color: #EBF2FA;
    padding-right: 0.7rem;
}

form label.side
{
    display:block;
    font-size: 1rem;
    text-align: left;
    padding: .75rem;
}
.required
{
    color: darkred;
}
#submitBtn
{
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    border:1px solid #2832C2;
    background-color: skyblue;
    color: black;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    
}

#submitBtn:hover
{
    background-color: aqua;
}
#membershipDescription
{
    border: 3px solid skyblue;
    border-radius: 15px; 
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#membershipDescription h2
{
    font-family: 'Oswald', sans-serif;
    border-bottom: 2px solid black;
    font-size: 2.1rem;
    text-align: center;
}
#membershipDescription h3
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}
#membershipDescription p
{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}
#membershipG, #membershipS, #membershipB, #membershipNP
{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px; 
    border: 2px solid #2832C2;
    font-family: 'Poppins', sans-serif;
    display: block;
}
.memberImg
{
    display: none;
}

#thankyou
{
    text-align: center;
    display: block;
}
#thankyou h2
{
    font-family: 'Oswald', sans-serif;
    font-size: 2.1rem;
}
#thankyou img
{
    margin: 0 auto;
}
