@media (min-width: 800px) 
{
    header{
        font-size: 1.4rem;
    }
    
    main {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        max-width: 1500px;
        text-align: center;
    }
    main h2 
    {
        grid-column: 1 /3;
        text-align: left;
        font-size: 3rem;
    }

    .navigation
    {
        font-family: 'Oswald', sans-serif;
        flex-direction: row;
        justify-content: space-around;
        background-color: aqua;
    }
    .navigation li
    {
        display: block;
        flex: 1 1 100%;
    }
    #menu{
        display: none;
    }
    .navigation li a
    {
        text-align: center;
        color: black;
        text-decoration: none;
        padding: 10px;
        font-size: 30px;
    
    }
    nav a:hover
    {
        background-color: #BDE0FE;
    }
    
}